<div class="form-container">
  <h2>Ajouter un nouveau produit</h2>

  <form [formGroup]="produitForm" (ngSubmit)="ajoutProduit()">

    <!-- NOM -->
    <div class="form-group">
      <label>Nom</label>
      <input type="text" formControlName="nom">
      <small *ngIf="produitForm.get('nom')?.touched && produitForm.get('nom')?.invalid">
        Le nom est obligatoire
      </small>
      <small *ngIf="produitForm.get('nom')?.errors?.['nomExiste']">
        Ce produit existe déjà
      </small>

    </div>

    <!-- PRIX -->
    <div class="form-group">
      <label>Prix</label>
      <input type="number" formControlName="prix">
      <small *ngIf="produitForm.get('prix')?.touched && produitForm.get('prix')?.errors?.['min']">
        Le prix doit être supérieur à 0
      </small>
    </div>

    <!-- QUANTITE -->
    <div class="form-group">
      <label>Quantité</label>
      <input type="number" formControlName="quantite">
      <small *ngIf="produitForm.get('quantite')?.touched && produitForm.get('quantite')?.errors?.['min']">
        La quantité doit être ≥ 0
      </small>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label>Description</label>
      <input type="text" formControlName="description">
    </div>

    <button
      type="submit"
      class="btn-primary"
      [disabled]="produitForm.invalid || loading">

      <span *ngIf="!loading">Ajouter le produit</span>
      <span *ngIf="loading">Ajout en cours...</span>

    </button>

  </form>
</div>
